@import url("../../widget/currency/currency.css");
@import url("../../widget/socialShare/socialShare.css");

.star {
    background-image: url(../../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}

.starS5 {
    background-position: -40px -84px;
    width: 70px;
	height: 15px;
}

